.link-underline {
  position: relative;
}

.link-underline:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  left: 6%;
  background: linear-gradient(to right, #ff512f, #dd2476);
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  border-radius: 1px;
}

.link-underline:hover:after {
  width: 87%;
  left: 6%;
  height: 2px;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  background: linear-gradient(to right, #ff512f, #dd2476);
  border-radius: 1px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* toc */
.toc {
  @apply sticky top-16 hidden h-0 w-[calc(50vw-50%-4em)] break-words text-base xl:block;
  transform: translateX(calc(-100% - 2em)) translateY(2em);
}
.toc ul ul {
  @apply ml-4;
}

.toc a {
  @apply !text-muted-foreground !no-underline transition-all duration-300;
}

/* Highlights the current section in the viewport within the TOC */
.active-header {
  @apply bg-primary-300 font-bold brightness-150 dark:bg-primary-700;
}

/* Timeline CSS */
@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

/* WL comment custom css to fix inputfield overflow */
.wl-comment .wl-editor {
  box-sizing: border-box;
  width: 98%;
  max-width: 100%;
  resize: vertical;
  overflow-x: hidden;
}

.wl-power {
  display: none !important;
}

.wave {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}
